<footer class="page-footer teal darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">The Rate App!</h5>
        <p class="grey-text text-lighten-3">Keep track of the ratings you gave restaurants and movies!</p>
      </div>
      <div class="col l4 offset-l2 s12">

      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Rate It Project Group, All Rights Reserved.
      <a class="grey-text text-lighten-5 right" href="https://github.com/lucpizz/rate-it/issues" target="_blank"
        title="Report A Bug"><i class="material-icons">bug_report</i></a>
    </div>
  </div>
</footer>