<nav class="teal darken-3">
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo center">Rate IT!</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="https://rate-it-now.herokuapp.com/">Home</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://github.com/lucpizz/rate-it" target="_blank">Source Code</a></li>
      </ul>

    </div>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li><a href="/"><i class="material-icons">home</i> Home</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a href="https://github.com/lucpizz/rate-it" target="_blank"><i class="material-icons">code</i> Source Code</a>
  </li>
</ul>